//The below are held as an example and you should replace them
$projectFont: "Barlow", sans-serif;

$projectRed: #b11838;
$projectFormError: #e50000;
$projectOrange: #f18e2d;
$projectFormCorrect: #31c48d;
$projectBlue: #1556a1;
$projectBlue2: #27348b;
$projectBlue3: #008bd2;
$projectBlue4: #51c4ff;
$projectYellow: #ffb35f;
$projectBlack: #000000;
$projectDarkGrey1: #252f3f;
$projectGrey1: #374151;
$projectGrey2: #666666;
$projectGrey3: #999999;
$projectGrey4: #bbbbbb;
$projectGrey5: #cccccc;
$projectGrey6: #eeeeee;
$projectGrey7: #dddddd;
$projectGrey8: #f9f9f9;
$projectGrey9: #f5f5f5;
$projectGrey10: #5e6a7d;
$projectGrey11: #e5e5e5;
$projectGrey12: #e8eff6;
$projectGrey14: #f3f3f3;
$projectGrey15: #dde4eb;
$primaryTransition: all 0.4s;

$zIndexFloatingButtons: 1000;
$zIndexMenu: 2000;
$zindexHeader: 3000;
$zindexPopover: 3500;
$zIndexBackdrop: 3900;
$zIndexSearchModal: 4000;
$zIndexTooltip: 4500;
$zIndexDropdown: 4600;
$zIndexCookie: 5000;
$zIndexPreloader: 6000;

$boxShadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
$boxShadow2: 0px 1px 5px rgba(0, 0, 0, 0.12);
$projectShadow: 2px 17px 39px -21px rgba(153, 153, 153, 1);
$projectShadowBottom: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
